html,body{
    margin: 0;
    height: 99%;
}

body{
    display: flex;
    flex-direction: column;

}

.header{
    position: sticky;
    top: 0;
}

.header,.footer{
    display: flex;
    justify-content: center;
    background: #fff4e5;
}

.content{
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #c7dbe4;

}
.content-left{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.content-right{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.listNotes{
    display: flex;
    flex-direction: column;
    background-color: #d3b5b5;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 10px;
    gap: 10px;
}

.note{
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #c7dbe4;
    font-family: "Arial";
}